body {
    margin:0;
    background-color: rgb(237, 237, 237);
    color: rgb(25, 25, 25);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    overflow: auto;
}
body .header-fon {
    background-color: black;
}
/*шапка*/
.Poster-header {
    background-color: black;
    width:1296px;
    padding-top:32px ;
    padding-bottom: 32px;
    margin: 0 auto;
}
.Poster-header div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:208px;

}
.logo {
    margin-top: 0;
    margin-bottom: 0;
    width: 325px;
    height: 12px;
}
nav {
    font-family: Fira Sans,Arial, sans-serif;
}
.nav-list {
    display: flex;
    width: 759px;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
.nav-list-item a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    text-align: left;
    color: rgb(255, 255, 255);
}
.nav-list-item div {
    width: 6px;
    height: 6px;
    border-radius: 1px;
    /* white */
    background-color: rgb(255, 255, 255);
    transform: rotate(-45.00deg);
}
/*основное содержимое*/
.details-main {
    width: 1296px;
    margin: 0 auto;
}
.lead-title-event {
    color: rgb(25, 25, 25);
    font-family: EB Garamond, Arial, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 140%;
    padding-left: 12px;
    margin: 0;
    margin-bottom: 100px;
    padding-top: 60px;
}
.event-card {
    display:flex;
    justify-content: space-between;
    margin-bottom: 150px;
}
.event-card img {
    display: block;
    border-radius: 12px;
}
.event-card-description {
    max-width: 636px;
}
.event-card h2 {
    color: rgb(25, 25, 25);
    font-family: EB Garamond, Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
    text-align: left;
    margin: 0;
    margin-bottom: 24px;
}
.main-persons {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 40px;
}
.main-persons li {
    color: rgb(25, 25, 25);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    text-align: left;
    margin-bottom: 16px;

}
.last {
    margin-bottom: 0;
}
.play-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 236px;
    margin-bottom: 40px;
}
.details-play {
    margin: 0;
    color: rgb(25, 25, 25);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    text-align: left;
}
.concert-program-list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 40px;
}
.program-list-items h3 {
    margin: 0;
    color: rgb(25, 25, 25);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    text-align: left;
    margin-bottom: 16px;
}
.program-list-items ul {
    margin: 0;
    padding:0;
    list-style: none;

}
.part-list li{
    color: rgb(25, 25, 25);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    text-align: left;
    margin-bottom: 16px;

}
.part-list li:last-child{
    margin-bottom:0 ;
}
.price {
    color: rgb(25, 25, 25);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    text-align: left;
    margin: 0;
    margin-bottom: 40px;
}
.order {
    border: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    text-align: center;
    border-radius: 50px;
    background-color: rgb(5, 176, 147);
    padding: 15px 30px 14px 30px;
    margin-bottom: 40px;
}
.image-concert {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*footer*/
.site-footer {
    max-width: 1296px;
    margin: 0 auto;
    padding: 60px 0px 32px 0px;
}
.div-footer {
    display: flex;
    align-items: baseline;
    border-bottom: 1px solid rgb(255, 255, 255, 0.5);
    padding-bottom: 60px;
}
.div-footer h2 {
    margin:0 ;
    color: rgb(255, 255, 255);
    font-family:  EB Garamond, Arial, sans-serif;;
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
    text-align: left;
    margin-bottom: 32px;

}

.logo-footer {
    display:block ;
}
.footer-events{
    margin-left:110px ;
    min-width: 416px;
}
.footer-events-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap:24px;
}
.footer-events-list li{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    text-align: left;
}
.contacts-footer {
    margin-left: 24px;

}
.contacts-footer-details {
    display: flex;
    flex-direction: column;
    gap:24px;
}
.contacts-footer p  {
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    text-align: left;
}
.contacts-footer-details a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    text-align: left;
}
.last-footer-div {
    margin: 0 auto;
}
.last-footer-div p {
    margin:32px 0;
    color: rgb(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    text-align: center;
}