body {
    margin:0;
    background-color: rgb(237, 237, 237);
    color: rgb(25, 25, 25);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
}
.Poster-header {
    background-color: black;
    width:1920px;
    padding-top:32px ;
    padding-bottom: 32px;
}
.Poster-header div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:208px;

}
.logo {
    margin-top: 0;
    margin-bottom: 0;
    width: 325px;
    height: 12px;
}
nav {
    font-family: Fira Sans,Arial, sans-serif;
}
.nav-list {
    display: flex;
    width: 759px;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
.nav-list-item a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    text-align: left;
    color: rgb(255, 255, 255);
}
.nav-list-item div {
    width: 6px;
    height: 6px;
    border-radius: 1px;
    /* white */
    background-color: rgb(255, 255, 255);
    transform: rotate(-45.00deg);
}
.poster-main {
    margin-left: 312px;
    width: 1296px;
}
.previews {

    margin-bottom: 184px;
}
.previews-div {
    display: flex;
    padding-top: 60px;
    align-items: flex-start;
    justify-content: center;
    gap:24px;
}
.previews img {
    display: block;
    border-radius: 8px;
}
.hero-image{
    border-radius: 12px;
}
.previews-list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 416px;
}
.previews-list-item {
    display: flex;
    background-color: rgba(25, 25, 25, 0.05);
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right:16px ;
   padding-left: 16px;
    gap:24px;
    margin-bottom: 16px;
    border-radius: 8px;
}
.previews-list-item a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    text-align: left;
    color:black;
}
/*стили для скции афиша*/
.head-poster-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 {
    color: rgb(25, 25, 25);
    font-family: EB Garamond, Arial, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;

}
.head-poster-section  a{
    text-decoration: none;
    color: rgb(25, 25, 25);
    font-family: 'EB Garamond', 'Arial', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: left;
}
.all-events::before {
    content: "";
    position: absolute;
    background-image: url('../img/icon-calendar.png');
    width: 35px;
    height: 35px;
    background-size: cover;
    background-repeat: no-repeat;
    right: 190px;

}